@use "./modules/mixins";
@use "./theme/theme" as theme;

#css-zen-garden {
  font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
  width: 80vw;
  margin: 10rem auto;
  background-color: aqua;

  .intro {
    header {
      @include mixins.centered;

      background-color: aliceblue;
      text-align: right;
      h1 {
        font-size: 3rem;
        margin: 0;
      }
      h2 {
        margin: 0;
        position: absolute;
        left: 1rem;
      }
    }
  }
}

div[role="article"] {
  display: flex;
  flex-direction: column;
  @include mixins.centered;

  background-color: antiquewhite;
  text-align: right;
  h3 {
    position: absolute;
    right: 1rem;
    color: theme.$sub-title;
  }
}

.main {
  background-color: lightpink;
}

footer {
  background-color: lightyellow;
}

.sidebar {
  background-color: lightseagreen;
}

.design-selection {
  background-color: lightgrey;
  @include mixins.left-sidebar;

  nav {
    ul {
      @include mixins.unordered-list;
    }
  }
}
.design-archives {
  background-color: lightsteelblue;

  @include mixins.left-sidebar($top: 40rem);

  nav {
    ul {
      @include mixins.unordered-list;
    }
  }
}
.zen-resources {
  background-color: lightgoldenrodyellow;
  ul {
    @include mixins.unordered-list;
  }
}
