.bannerContainer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 7rem;
  height: 7rem;

  .banner {
    background-color: aqua;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    width: 120px;

    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg) translate(-28%, -35%);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.7);
  }
}
