input {
  background-color: skyblue;
  border-radius: 5px;
  margin: 5px;
}

input:disabled {
  background-color: white;
}

input:required {
  border: 2px solid red;
}

input[type="submit"]:disabled {
  color: rgb(94, 92, 92);
}

/* button {
  border-radius: 5px;
}

button:disabled {
  background-color: white;
  color: rgb(94, 92, 92);
}

button:enabled {
  background-color: skyblue;
} */
