body {
  display: flex;
  justify-content: center;
}
main {
  width: 900px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

div {
  width: 28.5%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#card1 {
  background-color: skyblue;
}
#card2 {
  background-color: orange;
}
#card3 {
  background-color: pink;
}
