main {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

#card8 {
  background-color: skyblue;
}
#card9 {
  background-color: orange;
}
#card10 {
  background-color: pink;
}
#card11 {
  background-color: red;
}
#card12 {
  background-color: mediumaquamarine;
}
