.sort__button {
  height: 35px;
  padding: 0.6rem 1rem;
  font-size: default;
  // font-weight: bold;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  text-align: center;
  border-radius: 8px;
}
