@mixin unordered-list {
  list-style-type: none;
  padding-left: 0;
}

@mixin left-sidebar($left: 1rem, $top: 20rem) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin centered {
  width: 40vw;
  margin: 2rem auto;
}
