.header {
  font-family: Arial, Helvetica, sans-serif;

  &--border {
    border: 2px solid black;

    &--dashed {
      border-style: dashed;
    }
    &--color-green {
      border-color: green;
    }

    &--color-coral {
      border-color: coral;
    }
  }

  &__text {
    &--align-center {
      text-align: center;
    }

    &--align-right {
      text-align: right;
    }

    &--color-blue {
      color: blue;
    }

    &--line-through {
      text-decoration: line-through;
    }
  }
}

.container {
  border: 2px solid black;

  &__text {
    &--arial {
      font-family: Arial, Helvetica, sans-serif;
    }

    &--underlined {
      text-decoration: underline;
    }

    &--red {
      color: red;
    }

    &--blue {
      color: blue;
    }
  }

  &__list-no-bullet {
    list-style-type: none;
  }
}

.text {
  &--bold {
    font-weight: bold;
  }

  &--coral {
    color: coral;
  }

  &--brown {
    color: brown;
  }
}
