.container {
  display: flex;
  gap: 1rem;
  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
  text-align: left;
  padding: 0 1rem;
  align-items: center;
}

.task {
  width: 300px;
  // background-color: lightcoral;
}

.priority {
  width: 200px;

  // background-color: lightseagreen;
}

.delete__button {
  background-color: transparent;
  // padding: 0 1.2em;
  // width: 1rem;
  // height: 1rem;
}

.very__high {
  background-color: lightcoral;
}

.high {
  background-color: lightpink;
}

.medium {
  background-color: lightblue;
}
.low {
  background-color: lightgrey;
}
