body {
  display: flex;
  justify-content: center;
}
main {
  width: 900px;
  height: 300px;
}

div {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
